
h1{
		text-align: center;
		color: purple;
		margin-top: 40px;
	}
	p{
        width: 95%;
	border: 5px solid red;
	background: green;
	padding:40px 5px 20px 5px;
	float: left;
	margin-right: 10px;
	box-sizing: border-box;
	overflow: auto;
	margin-left: 15px;
	
}
#chicken, #fish, #sushi{
		background-color: white;
		border: 3px solid black;
		padding: 5px;
		box-sizing: border-box;
		width: 90px;
		text-align: right;
	}
#p1, #chicken{
		position: absolute;
		top: 98px;
		right: 4.5%; 
		} 
	#p2, #fish{
		position: absolute;
		top: 256px;
		right:4.5%; 
		} 
 #p3, #sushi{
		position: absolute;
		top: 412px;
		right: 4.5%; 
	}